
body {
    font-size: 62.5%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}

html,
body {
    scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'Orbitron', sans-serif;
    text-transform: capitalize;
    font-weight: bold;

}

.inputPlaceholder::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ffffff;
}

.inputPlaceholder:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ffffff;

}

.inputPlaceholder::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ffffff;

}

.inputPlaceholder:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.full-screen-video-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.full-screen-video-container video {
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* flipping class and key frames*/
/* nombre animated zoomIn */
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }

}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated {
    -webkit-animation-duration: 8s;
    animation-duration: 12s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* subtle zoom to attention and then back */
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 10.5s;
    -webkit-animation-duration: 10.5s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.zoom-in-out-box {

    animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes move {

    from {
        left: 90px;
    }

    to {
        left: -60px;
    }
}

@keyframes move-words {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }


/* animation: changeBackgroundColor 7s infinite; se usa con este */


@keyframes changeBackgroundColor {
    5% {
        background-color: #8cfffb;
    }

    25% {
        background-color: #fff200;
    }

    50% {
        background-color: #ec1c24;
    }

    75% {
        background-color: #FF4136;
    }

    100% {
        background-color: #b97a56;
    }
}


/* se susa con este     animation: mymove 7s infinite; */
@keyframes mymove {
    5% {
        border-color: #8cfffb;
    }

    25% {
        border-color: #fff200;
    }

    50% {
        border-color: #ec1c24;
    }

    75% {
        border-color: #FF4136;
    }

    100% {
        border-color: #b97a56;
    }
}

@keyframes mymove1 {
    5% {
        border-color: #ff0000;
    }

    25% {
        border-color: #e94e4e;
    }

    50% {
        border-color: #f80008;
    }

    75% {
        border-color: #fd6961;
    }

    100% {
        border-color: #fa0000;
    }
}


@keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  




@media screen and (min-width: 1240px) {

    .intro__position {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* background-color: #899608; */
        /* dff8d0 8cc372 */
        position: absolute;
        z-index: 2;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        border: 3px solid #8cfffb;
        animation: mymove 7s infinite;
      }

      .introfondo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
      }


    .fondogif {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);

        border-radius: 8px;
        border: 3px solid #8cfffb;
        animation: mymove 7s infinite;
    }

    .header__section {
        position: fixed;
        top: 17px;
        left: 50%;
        width: 100%;
        height: 35px;
        transform: translate(-50%, -50%);
        z-index: 1;
        background: #000000;
        border-radius: 8px 8px 0px 0px;
        border: 3px solid #8cfffb;
        animation: mymove 7s infinite;
    }

    .main__header {
        position: fixed;
        top: 25px;
        left: 170px;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: nowrap;
        font-size: .7em;
        text-align: center;
        z-index: 1;
        margin-right: 10px;
        gap: 1em;
    }

    .namaka__n__header {
        position: fixed;
        top: 17.5px;
        left: 15px;
        width: 14px;
        height: 18px;
        transform: translate(-50%, -50%);
        z-index: 1;
        gap: 5em;
    }
     /* username  */
    
     .username{
        position: fixed;
        top: 15px;
        left: 93.5%;
        transform: translate(-50%, -50%);
        width: 150px;
        z-index: 1;

    }

    .footer {
        position: fixed;
        top: 98.7%;
        left: 50%;
        background-color: #000000;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 17.5px;
        text-align: center;
        border-radius: 0px 0px 8px 8px;
        border: 3px solid #8cfffb;
        animation: mymove 7s infinite;
    }

    .footer__text {
        position: fixed;
        top: 50%;
        left: 50%;
        animation: changeBackgroundColor 7s infinite;
        color: transparent;
        -webkit-background-clip: text;
        transform: translate(-50%, -50%);
        font-size: .6em;
        width: 100%;
        height: auto;
        text-align: center;

    }




}

@media screen and (min-width: 1366px) {


    
    .intro__position {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* background-color: #899608; */
        /* dff8d0 8cc372 */
        position: absolute;
        z-index: 2;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        border: 3px solid #8cfffb;
        animation: mymove 7s infinite;
      }

      .introfondo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
      }
    .fondogif {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);

        border-radius: 8px;
        border: 3px solid #8cfffb;
        animation: mymove 7s infinite;
    }


       /* username  */
        
       .username{
        position: fixed;
        top: 15px;
        left: 95.5%;
        transform: translate(-50%, -50%);
        width: 150px;
        z-index: 1;

    }
    
    .container {
    color: #e5e5e5;
    font-size: .8rem;
    text-transform: uppercase;
    height: 10px;
    display: flex;
    align-items: center;
    text-align: right;
  
    justify-content: center;
  }
  
  .animation {
    height:15px;
    overflow:hidden;
    filter: drop-shadow(2px 2px #646464);
    text-align: right;
  
  }
  
  .animation > div > div {
  
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }

    .user__status{
        position: fixed;
        top: 15px;
        left: 99.2%;
        transform: translate(-50%, -50%);
        width: 9.5px;
        height: 9.5px;
        border-radius: 16px;
        border: 6.5px solid #8cfffb;
        animation: mymove1 7s infinite;

        filter: drop-shadow(1px px #646464);
        z-index: 1;
    }

    /* fin user name */


    .header__section {
        position: fixed;
        top: 17px;
        left: 50%;
        width: 100%;
        height: 35px;
        transform: translate(-50%, -50%);
        z-index: 1;
        background: #000000;
        border-radius: 8px 8px 0px 0px;
        border: 3px solid #8cfffb;
        animation: mymove 7s infinite;
    }

    .main__header {
        position: fixed;
        top: 25px;
        left: 170px;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: nowrap;
        font-size: .7em;
        text-align: center;
        z-index: 1;
        margin-right: 10px;
        gap: 1em;
    }

    .namaka__n__header {
        position: fixed;
        top: 17.5px;
        left: 15px;
        width: 14px;
        height: 18px;
        transform: translate(-50%, -50%);
        z-index: 1;
        gap: 5em;
    }


    .footer {
        position: fixed;
        top: 99%;
        left: 50%;
        background-color: #000000;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 17.5px;
        text-align: center;
        border-radius: 0px 0px 8px 8px;
        border: 3px solid #8cfffb;
        animation: mymove 7s infinite;
    }

    .footer__text {
        position: fixed;
        top: 50%;
        left: 50%;
        animation: changeBackgroundColor 7s infinite;
        color: transparent;
        -webkit-background-clip: text;
        transform: translate(-50%, -50%);
        font-size: .6em;
        width: 100%;
        height: auto;
        text-align: center;

    }









}
