


@media screen and (min-width: 320px){



     .logo{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: auto; 
        filter: drop-shadow(2.5px 2.5px #646464);
     }

     .frase{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: auto; 
        font-size: .7em;
        animation: changeBackgroundColor 7s infinite;
        color: transparent;
        -webkit-background-clip: text;
        text-align: center;
        filter: drop-shadow(2.5px 2.5px #646464);
     }

     /* posicion logo */

     /* cuenta regresiva */

.countdownpose{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50px; 
}



.countdown{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: changeBackgroundColor 7s infinite;
    color: transparent;
    -webkit-background-clip: text;
    width: 80%;
    height: 50px; 
    font-size: 1.4em;
    filter: drop-shadow(2.5px 2.5px #646464);
}

.countdowndate{
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: auto; 
    filter: drop-shadow(2px 2px #646464);
}
     /* cuenta regresiva  */

      /* username  */

      .username{
        position: fixed;
        top: 140%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 380px;
        height:25px;
z-index: 1;

    }
    
    .container {
    color: #e5e5e5;
    font-size: .7rem;
    text-transform: uppercase;
    height:25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .animation {
    height:25px;
    overflow:hidden;
    filter: drop-shadow(2px 2px #646464);
    text-align: center;
  
  }
  
  .animation > div > div {
  
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }



.first,.second{
    font-size: 1.1rem;
}





     /* logotech */
     .logotech{
        position: fixed;
        top: 96%;
        left: 75px;
        transform: translate(-50%, -50%);
        width: 130px;
    height: auto; 
     }

     /* logotech */


     /* version */
.version{
    position: fixed;
    top: 96%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 230px;
height: auto; 
font-size: .5em;
color: azure;
text-align: right;
}
     /* version */
}



@media screen and (min-width: 600px){
    
        /* posicion del logo */
        .logoposition{
            position: fixed;
            top: 50px;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;
            height: 90px; 
         }
    
         .logo{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;
            height: auto; 
            filter: drop-shadow(2.5px 2.5px #646464);
         }
    
         .frase{
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;
            height: auto; 
            font-size: .7em;
            animation: changeBackgroundColor 7s infinite;
            color: transparent;
            -webkit-background-clip: text;
            text-align: center;
            filter: drop-shadow(2.5px 2.5px #646464);
         }
    
         /* posicion logo */
    
         /* cuenta regresiva */
    
    .countdownpose{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 50px; 
    }
    
    
    
    .countdown{
        position: fixed;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        animation: changeBackgroundColor 7s infinite;
        color: transparent;
        -webkit-background-clip: text;
        width: 80%;
        height: 50px; 
        font-size: 1.4em;
        filter: drop-shadow(2.5px 2.5px #646464);
    }
    
    .countdowndate{
        position: fixed;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 270px;
        height: auto; 
        filter: drop-shadow(2px 2px #646464);
    }
         /* cuenta regresiva  */
    
          /* username  */
    
          .username{
            position: fixed;
            top: 140%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 380px;
            height:25px;
    z-index: 1;
    
        }
        
        .container {
        color: #e5e5e5;
        font-size: .7rem;
        text-transform: uppercase;
        height:25px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
      
      .animation {
        height:25px;
        overflow:hidden;
        filter: drop-shadow(2px 2px #646464);
        text-align: center;
      
      }
      
      .animation > div > div {
      
        height:2.81rem;
        margin-bottom: 2.81rem;
        display:inline-block;
      }
      
      .animation div:first-child {
        animation: text-animation 8s infinite;
      }
    
    
    
    .first,.second{
        font-size: 1.1rem;
    }
    
    
    
    
    
         /* logotech */
         .logotech{
            position: fixed;
            top: 96%;
            left: 75px;
            transform: translate(-50%, -50%);
            width: 130px;
        height: auto; 
         }
    
         /* logotech */
    
    
         /* version */
    .version{
        position: fixed;
        top: 96%;
        left: 65%;
        transform: translate(-50%, -50%);
        width: 230px;
    height: auto; 
    font-size: .5em;
    color: azure;
    text-align: right;
    }
         /* version */
    }